*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

.container-login {
    display: flex;
    height: 100vh;
    background: linear-gradient(90deg, #0b3b36 0%, #09786b 100%);
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    
    
    .login-esquerda {
    color: white;
    background-image: url();
    flex: 1;
    text-align: center;
    text-shadow: 2px 2px 4px #3d3d3d;
    color: white;
  flex: 1;
  text-align: center;
  text-shadow: 2px 2px 4px #3d3d3d;

  height: 450px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  padding: 50px;
  }
  
  .login-esquerda h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .login-esquerda p {
    font-size: 1rem;
    margin-top: 10px;
    color: #cfeae6;
  }
  
  .login-direita {
    background-color: #0f544c;
    padding: 80px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-right: 15vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .logo span {
    color: #b6ffbf;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input {
    padding: 10px;
    
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  button {
    background-color: #0b3b36;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
    background-color: #222;
  }

  }

  .btn-entrar{
    background-color: #000;
  }
  

  
  .link {
    margin-top: 10px;
    font-size: 0.9rem;
    text-align: center;
  }
  
  .link a {
    color: #b6ffbf;
    text-decoration: none;
  }

  
  
}
  