* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container-cultura {

  .topo {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    z-index: 10;
    background: transparent;

    .logo {
      font-size: 1.2rem;

      span {
        color: #83c5be;
        font-weight: 700;
      }

      .link-cultura{
        text-decoration: none;
        color: #fff;
      }
    }

    nav {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: #83c5be;
        }
      }
    }
  }

  .hero.cultura-hero {
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    h1 {
      color: white;
      font-size: 3rem;
      font-weight: 700;
      text-align: center;
      text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    }
  }

  .desc-cultura {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #83c5be;
    padding: 20px 30px;
    color: white;
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    max-width: 100%;
    margin: 30px auto;

    p {
      flex: 1;
      line-height: 1.5;
      white-space: pre-line;
    }

    .fotoCultura {
      width: 65vh;
      height: auto;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  /* Barra de pesquisa */
  .containerPesquisa {
    width: 100%;
  }

  .pesquisaCultura {
    background-color: rgba(239, 239, 239, 1);
    height: 600px;
    position: relative;
    padding: 0 70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;

  }

  .searchForm {
    margin-top: 20px;
    display: flex;
    width: 100%;
    max-width: 900px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .searchInput {
    flex: 1;
    padding: 18px 25px;
    font-size: 16px;
    border: none;
    outline: none;
    color: #333;
    background-color: white;
    border-radius: 5px 0 0 5px;
  }

  .searchButton {
    background-color: #006d77;
    color: white;
    width: 60px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
  }

  /* Área de Locais Culturais */
  .locais {
    background-color: #83c5be;
    padding: 40px;
    color: #fff;
    width: 100%;;
    margin: 50px auto;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 25px;
    }

    .locais-grid {
      display: flex;
      justify-content: space-between;
      gap: 25px;
    }

    .coluna-esquerda {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 1.2;
    }

    .coluna-direita {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 20px;
      flex: 1;
      height: 57vh;

      .central {
        grid-column: 1 / span 2;
        justify-self: center;
        width: 85%;
      }
    }

    .local-card {
      background: #ffffff22;
      border-radius: 14px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.02);
      }

      img {
        width: 100%;
        display: block;
        object-fit: cover;
      }

      .info {
        padding: 12px 16px;
        background: rgba(255, 255, 255, 0.1);

        h3 {
          font-size: 1.1rem;
          font-weight: 700;
          margin-bottom: 4px;
          color: #fff;
        }

        p {
          font-size: 0.9rem;
          color: #e3e3e3;
        }
      }
    }

    .grande img {
      height: 180px;
    }

    .pequeno img {
      height: 140px;
    }

    a{
      text-decoration: none;
    }
  }


  /* Mapa */
  .containerPesquisaMapa {
    padding: 40px 20px;
    text-align: center;

    p {
      color: white;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.4;
    }
  }

  .pesquisaCulturaMapa {
    display: flex;
    justify-content: center;
  }

  /* Rodapé */
  .rodapeCultura {
    background-color: #83c5be;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
  
    .logo {
      font-size: 1.5rem;
      font-weight: bold;
  
      span {
        color: #006d77;
      }
    }
  
    h4 {
      margin: 1rem 0;
      font-weight: 400;
    }

   
  
    p {
      margin-top: 1rem;
      font-size: 0.9rem;
      opacity: 0.8;
    }
    
    .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    
    .col {
      color: white;
      border: none;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
      border-radius: 6px;
      color: #006d77;
      background: #ffffff;
      padding: 0.5rem 1rem;
      transition: background-color 0.2s;
      transition: 0.3s;
  
      &:hover {
        background: #006d77;
        color: #ffffff;
      }
  
    }
  }
  
  .link {
    text-decoration: none;
    color: #fff;
    margin: 5px;
  }
  
  }

}