@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bebas+Neue&family=Fira+Code:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Patua+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+Salt&family=Shafarik&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerso {
  width: 90%;
  max-width: 1800px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  z-index: 2;
  text-align: center;
}


.sobre-heroo {
  height: 350px;
  background-image: url('/assets/images/sub.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden;
}

.sobre-heroo::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

.titulo-sobre {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;

}

.logo-sobre {
  color: #0a7737;
}

.descricao-sobre {
  font-size: 1.3rem;
  margin-top: 10px;
  opacity: 0.95;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.sobre-contente {
  padding: 60px 20px;
  background-color: #f2f2f2;
  text-align: center;
}

.sobre-contente h2 {
  color: #055353;
  font-size: 2em;
  margin-bottom: 20px;
  position: relative;
  font-family: "Outfit", sans-serif;
}

.sobre-contente h2::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: #085750;
  border-radius: 2px;
}

.sobre-contente p {
  max-width: 800px;
  margin: 0 auto 20px;
  font-size: 1.1em;
  line-height: 1.6;
  color: #333;
}

.sobre-contente ul {
  list-style: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto 20px;
  text-align: left;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sobre-contente li {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #333333;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.sobre-contente li:last-child {
  border-bottom: none;
}

.sobre-contente li strong {
  color: #00695c;
}

.sectionsobre {
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.sectionsobre:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.rodape {
  background: #022b27;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  font-family: "Poppins", sans-serif;

  .container-roda {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .logoo-rodape {
    font-size: 2rem;
    font-weight: 700;
    span {
      color: #0a7737;
    }
  }

  .descricaoo {
    margin: 15px auto 30px;
    font-size: 1rem;
    max-width: 600px;
    line-height: 1.6;
    color: #ccc;
    font-family: "Outfit", sans-serif;
  }

  .redes-sociaiss {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;

    .icones {
      font-size: 1.8rem;
      color: #fdfdfd;
      transition: transform 0.3s, color 0.3s;
      &:hover {
        transform: scale(1.2);
        color: #09b46a;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }

  .col {
    background: #ffffff;
    color: #0a7737;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background: #fff;
      color: #111;
    }
  }

  .copys {
    font-size: 0.9rem;
    color: #777;
    margin-top: 20px;
  }
}

@media (max-width: 900px) {
  .titulo-sobre {
    font-size: 2.3rem;
  }
}

@media (max-width: 600px) {
  .titulo-sobre {
    font-size: 1.8rem;
  }
}
