.container-senha {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg, #0b3b36 0%, #09786b 100%);
    font-family: "Montserrat", sans-serif;
  
    .titulo {
      color: white;
      font-size: 1.3rem;
      margin-bottom: 40px; 
      text-align: center;
      text-shadow: 2px 2px 4px #3a3a3a;
    }
  
    .formulario {
      background-color: #0f544c;
      padding: 40px;
      border-radius: 10px;
      width: 90%;           
      max-width: 400px;     
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  
    form {
      width: 100%;          
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  
    input {
      padding: 10px;
      border: none;
      border-radius: 5px;
      outline: none;
      width: 100%;          
    }
  
    button {
      background-color: black;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      width: 100%;          
    }
  
    button:hover {
      background-color: #222;
    }
  
    .logo {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 35px;

      span{
        color: #b6ffbf;
      }
    }
  }
  