.container-loginAdm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #0b3b36 0%, #0f9d8b 100%);
    font-family: "Poppins", Arial, sans-serif;
    text-align: center;

    .logo {
        font-size: 2.5rem;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 1px;
        margin-bottom: 15px;
        margin-bottom: 5vh;

        span {
            color: #61d1b3;
        }
    }

    .titulo {
        color: #ffffff;
        font-size: 1.4rem;
        margin-bottom: 25px;
        opacity: 0.9;
    }

    .loginadm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        background-color: #0f544cf2;
        padding: 40px 30px;
        border-radius: 12px;
        width: 360px;
        color: #fff;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);


        input {
            width: 100%;
            padding: 12px 14px;
            border: 1px solid #61d1b3;
            border-radius: 6px;
            font-size: 1rem;
            color: #333;
            outline: none;
            margin-bottom: 15px;

            &:focus {
                border-color: #00bfa5;
                box-shadow: 0 0 0 3px rgba(0, 191, 165, 0.2);
            }
        }

        button {
            width: 100%;
            background-color: #000000;
            color: white;
            border: none;
            padding: 12px 0;
            border-radius: 6px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;


        }

        .btn-sair {
            margin-top: 25px;
            padding: 8px 40px;
            background-color: transparent;
            color: #ffffff;
            border: 2px solid #ffffff;
            border-radius: 30px;
            font-size: 1rem;

            &:hover {
                background-color: #ffffff;
                color: #0b3b36;
            }

           
        }
        .link{
            text-decoration: none;
        }


        .mensagem-erro {
            color: #ffcc80;
            margin-top: 15px;
            font-weight: 500;
            font-size: 0.95rem;
        }

        /* Responsividade */
    }

    @media (max-width: 480px) {
        .loginadm {
            width: 90%;
            padding: 30px 20px;
        }

        .logo {
            font-size: 2.3rem;
        }

        .titulo {
            font-size: 1.2rem;
        }
    }
}